<ion-view title="Friday BLE" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="fridayBLE-button-bar1" class=" button-bar "></div>
        <form id="fridayBLE-form3" class="list ">
            <label class="item item-input " id="fridayBLE-textarea1">
                <span class="input-label">Message:</span><textarea id="messageBox" placeholder="Hello!"></textarea>
            </label>
        </form>
        <button id="fridayBLE-button5" class=" button button-positive  button-block " onclick="send()">Send</button>
    </ion-content>
</ion-view>
